<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} | {{ user_full_name }}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Wire+One&display=swap" rel="stylesheet">
  <style>
      * {
        margin: 0;
        padding: 0;
        outline: 0;
        box-sizing: border-box;
      }

      html, body {
        margin: 1rem;
        font-family: 'Wire One', sans-serif;
        min-width: 100%;
        min-height: 100%;
      }

  </style>
</head>
<body>
  <h1>👋 Hello {{ user_full_name }}</h1>
  <br/>
  <h2>Welcome to OUR community 😃</h2>
  <br/>
  <br/>
  <h4>We hope we can exchange knowledge, learning from each other in every conversation !</h4>
  <h4>Thank you, for doing your <strong>sign up</strong> into the platform. We hope you have a very nice experience !</h4>
  <br/>
  <p>Best regards 👊</p>
</body>
</html>