<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} | {{ user_full_name }}</title>
</head>
<body>
  <h3>Olá {{ user_full_name }}</h3>
  <h4>Welcome to OUR community !</h4>
  <hr />
  <p>Thank you, for doing your sign in into the platform. We hope you have a very nice experience !</p>
  <p>Best regards !</p>
</body>
</html>